#left{
    width: 70%;
}

header{
    display: flex;
    height: 40%;
}

.name{
    margin: 0 0 0 0;
    padding: 1rem 0 0 0;
    border-right: #00DEB6 solid 1.5rem;
    border-bottom: #00DEB6 solid 1.5rem;
    width: 60%;
    height: 100%;
    font-size: 15px;
}

#infoName{
    margin-top: 18%;
}

#infoName p{
    font-size: 60px;
}

#infoName p+p{
    font-size: 30px;
}

#photo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo img{
    width: 60%;
    height: auto;
    border: 1rem solid #535353;
}

main{
    margin: 10% 0 0 0;
    display: flex;
    justify-content: space-around;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 17%;
    background-color: #535353;
    display: flex;
    justify-content: space-between;
    border-top: 1rem solid #00DEB6;
}

#buttons{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 1rem;
    background-color: transparent;
}

#buttons img{
    height: 7rem;
    width: auto;
    
}

#buttons img:hover{
    filter: brightness(80%);
}

#contact{
    font-size: 3.5rem;
}

#right{
    width: 30%;
    background-color: #00DEB6;
}

#right .list{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-content:space-around ;
}

#right .list a{
    margin: 0.5rem;
    margin-top: 2rem;
}

#right .list a:hover{
    text-decoration: underline;
    cursor: pointer;
}