body{
    min-width: 160vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #3A3A3A;
    color: white;
}

.txt{
    margin: 0;
    padding: 0 1.7rem 0 0 ;
    text-align: end;
    font-family: 'Racing Sans One';
}

button:hover{
    cursor: pointer;
}

.title{
    margin: 0;
    margin-bottom: 3rem;
    padding: 0 1.7rem 0 0 ;
    text-align: end;
    font-family: 'Racing Sans One';
    font-size: 4rem;
}

.tool img{
    height: 13rem;
}

a{
    color: white;
    text-decoration: none;
}


